.Tilt {
  background: linear-gradient(
    89deg,
    #062049 0%,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.face {
  border-radius: 100%;
  opacity: .7;
}
.face:hover {
  opacity: 1;
}

.face {
  border-radius: 0%;
  padding-top: 2.5%;
  height: 250px;
}